*{
  box-sizing: border-box;
}

html{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "segoe UI";
  background-color: #f4f5f7;
  background-size: cover;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: #000;
}

/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition:0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition:0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* Main Section */

.titles{
  color: #232323;
  text-align: center;
  width: 50vw;
  margin: 100px auto;
}

.titles h1{
  font-family:"segoe UI";
  font-size: 5rem;
  margin-bottom: 0;
  text-shadow: 1px 1px 0 black;

}

.titles p{
  letter-spacing: 0;
  font-size: 1.5rem;
}

/* bottom section */

.container-boxes{
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  max-width: 80vw;
}

.box{
  background: #dcdcdc;
  margin: 1rem;
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 350px;
  max-height: 180px;
  min-height: 180px;
  transition: all 250ms ease-out;
}

.box:hover{
  background: #97cd92;
  transform: translateY(-20%);
}

.box a{
  text-decoration: none;
  color: black;
}

.icon{
  font-size: 2.5rem;
  padding: 1rem;
}

.text h3{
  text-transform: uppercase;
  letter-spacing: 0;
  margin-bottom: 0;
  font-size: 23px;
}

.text p{
  margin-top: 1rem;
  line-height: 1.5rem;
  text-align: left;
  font-size: 16px;
}

.text{
  padding: .5rem;
}

.list2{
  border: 2px solid black;
}
/* footer */
.footer{
  background-color: #D3D3D3;
  padding-top: 10px;
  height: 60px;
  position: relative;
  bottom: 0px;
  left: 0px;
  line-height: 50px;
  color: black;
  text-align: center;
  width: 100%;
  font-size: 16px;
}

.fa {
  padding: 10px;
  font-size: 50px;
  width: 10px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

/* @media query
  48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

@media (max-width: 768px){
  .icon{
    font-size: 4rem;
    padding: 0.5rem;
  }
  .text h3{
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 1rem;
    font-size: 23px;
  }

  .text p{
    margin-top: 1rem;
    line-height: 1.5rem;
    text-align: left;
    font-size: 18px;
  }
  nav li a:hover{
  background: none;
  color: black;
  }
}

@media (max-width: 768px){
  body{
    height: 100%;
  }
  .container-boxes{
    flex-direction: column;
    display: grid;
  }
  .box{
    width: 400px;
  }
  .box:hover{
    background: rgba(255,255,255,.7);
    transform: none;
  }
  .titles h1{
  font-size: 3rem;
  }
}
