body {
     box-sizing:border-box;
     color: black;
     background-color: #f4f5f7;
     background-size: cover;
}


#list1{
  background-color:#337b7b ;
  border-bottom: 1px gray solid;
  padding: 20px 20px 30px;
  margin:auto;
  text-align:center;
}
h1{
  color: #f1f1f1;
}
h2 {
  text-align:center;
  color: #f1f1f1;
  margin-bottom:10px;
}

h3{
  font-size: 32px;
  color: black;
}

#inputText {
  border-radius:8px;
  padding:8px;
  background-color:#f4f5f7;
  }
 button {
    display:inline-block;
    background-color: #dcdcdc;
    border: 1px solid black;
    border-radius:4px;
    color:#000;
    font-weight: bold;
    padding:5px;
    font-size: 16px;
  }
button:hover{
  background-color: #1b6114;
  color: #f1f1f1;
}
.btn1{
  margin-bottom: 10px;
}
#list{
  text-decoration:none;
  list-style-type:none;
  margin:0;
  padding:0;
}
  li {
    text-decoration:none;
    padding: 15px;
    font-weight: 400;
    text-align: left;
    font-size: 16px;
  }

  li:nth-child(odd){
  background-color:#dedede;
}
  li:nth-child(even){
    background-color:#f1f1f1;
  }
    .check {
  text-decoration: line-through;
      background-color: #12edff !important;
      color:#593636;
}

span.close {
  position: absolute;
  right: 0;
  padding-right: 20px;
}

@media screen and (max-width: 48em){
  .goback{
    padding: 10px;
    font-size: 15px;
  }
  .btn1 {
    font-size: 1.5rem;
    margin-right: 10px;
    margin-top: 10px;
  }
  #list1{
    font-size: 1rem;
  }

  #inputText{
    height: 30px;
    width: 250px;
    font-size:25px;
  }

  .btn2{
    height: 50px;
    width: 80px;
    font-size: 24px;
    padding:10px 0;
  }

  li{
    font-size: 42px;
  }
  span.close{
    padding-right: 20px;
  }
}
