body {
     box-sizing:border-box;
     color: inherit;
}
#list{
  background:linear-gradient(-90deg, #08ff00, #00b100);
  border-bottom: 1px gray solid;
  padding: 20px 20px 30px;
  margin:auto;
  text-align:center;
}
h1{
  color: black;
}
h2 {
  text-align:center;
  color:black;
  margin-bottom:25px;
}

#inputText {
  border-radius:8px;
  border: solid skyblue 2px;
  padding:8px;
  }
 button {
    display:inline-block;
    background-color: grey;
    border: solid gray 2px;
    border-radius:4px;
    color:white;
    padding:5px;
  }

#list{
  text-decoration:none;
  list-style-type:none;
  margin:0;
  padding:0;
}
  li {
    text-decoration:none;
    padding: 15px;
    font-weight:bold;
    text-align: left;
    font-size: 16px;
  }

  li:nth-child(odd){
  background-color:#dedede;
}
  li:nth-child(even){
    background-color:#f1f1f1;
  }
    .check {
  text-decoration: line-through;
      background-color: #12edff !important;
      color:yellow;
}

span.close {
  position: absolute;
  right: 0;
  padding-right: 10px;
}
